* {
   font-family: 'Noto Sans', sans-serif;
}

html {
   background-image: url(./Images/background-image.jpeg);
   background-repeat: repeat;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #1d1e3d;
   color:#c7cacc;
   border-bottom: solid 3px #c7cacc;
   margin: auto;
   width: 70rem;
   height: 7rem;
   text-align: center;
}

header h1 {
   font-family: 'Alkatra', cursive;
   font-size: 40pt;
   letter-spacing: 2px;
}

main {
   height: 43rem;
   width: 80rem;
   margin: auto;
}

main button {
   background-color: #dadbe4;
   height: 5rem;
   width: 20rem;
   border-radius: 70px;
   color: #1d1e3d;
   font-size: 26pt;
   letter-spacing: 2px;
   font-style: italic;
   margin: 4rem auto;
}

.flex {
   display: flex;
}

.center {
   justify-content: center;
   align-items: center;
}

.game-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80rem;
}

.column {
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.cream-background {
   background-color: #fff4e9;
}

.scorecard {
   height: 3rem;
   width: 10rem;
   margin: auto;
   border: 3px solid black;
   border-radius: 5px;
}

.log {
   text-align: center;
}

.log li {
   list-style-type: none;
   height: 3rem;
   width: 10rem;
}

#scores {
   margin: 0 auto;
}

#giphy-img {
   width: 20rem;
   height: 20rem;
   border-radius: 10px;
   border: 3px solid black;
}

#turn-counter {
   height: 7rem;
   width: 20rem;
   text-align: center;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   border: 3px solid black
}

#game-area {
   width: 30rem;
   height: 30rem;
   border: 5px solid black;
   border-radius: 10px;
}

#game-log {
   height: 15rem;
   width: 20rem;
   border-radius: 10px;
   border: 3px solid black;
}

#game-board {
   display: flex;
   flex-wrap: wrap;
   height: 27.75rem;
   width: 27.9rem;
   border: 2px solid #fff4e9;
}  

#turn-counter h4 {
   border-bottom: 1px solid #1d1e3d;
   width: 8rem;
   margin: 0;
}

#turn-counter h3 {
   margin: 0;
}